:root {
  --Main: #c33
}
* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color: #eee;
}
body {
    overflow-x: hidden;
}
.txtc{
  margin: 5vw;
}
nav {
  width: 100vw;
  position: sticky;
  height: 5.5vh;
  background-color: #fff;
  border-bottom: 3px solid #ccc;
}
nav li, nav a {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  color: #000;
  background-color: #fff;
}
nav li {
  font-size: 80%;
  padding: 2vh 3vw;
  float: right;
}
.active, .active a {
  background-color: #eee;
}
nav li:hover{
  border-bottom: solid #000;
}
h1 {
  color: var(--Main);
}
.hdr {
  width: 100vw;
  margin-top: 50px;
  margin-bottom: 50px;
  display: inline-block;
}
.hdr h1 {
  margin: 0 auto;
  text-align: center;
}
img {
  display: block;
  width: 50vw;
  margin: 0 auto;
}
